.homenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(254, 198, 197, 0.3);
  padding: 20px 100px;
  font-family:'Righteous', Courier, monospace;
}

.homenav__links {
  margin-right: 20px;
  font-size: 18px;
  padding-bottom: 5px;
  color: #4a43e1;
}

.homenav__links--active {
  border-bottom: 3px solid #222;
  opacity: 1;
}

.homenav__logo {
  font-family: 'Pacifico';
  font-size: 22px;
}
