.create-wish__form-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fcf1f1;
  border: 1px solid #fce7e7;
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.create-wish__form-main {
  display: flex;
}

.create-wish__form-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;  
  color: #fea0a0;
}

/* ---left---- */
.create-wish__form-left-wrapper {
  width: 30%;
  margin-right: 5%;
}

/* textarea */
.create-wish__textarea {
  height: 62px;
  border: 1px solid #fea0a0;
  border-radius: 3px;
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  padding: 4px 7px;
}

.create-wish__textarea:focus {
  outline: none !important;
  border: 1px solid #fea0a0;
}

/* ---right---- */
.create-wish__form-right-wrapper {
  position: relative;
  width: 65%;
}

/* images */
.wish-images__image {
  width: 23%;
}

/* buttons */
.create-wish__form-buttons-wrapper {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-wish__form-buttons {
  width: 49%;
  padding: 5px;
  border-radius: 3px;
}

.create-wish__form-submit {
  background-color: #fa7474;
  color: white;
}

.create-wish__form-cancel {
  background-color: rgb(255, 255, 255);
  border: 1px solid #999;
  color: #666;
}