.settings-edit-form__wrapper {
  position: relative;
  display: flex;
  border: 1px solid #fce7e7;
  border-radius: 10px;
  padding: 20px;
}

/* ----left---- */
.settings-edit-form__left-wrapper {
  position: relative;
  width: 200px;
  margin-right: 20px;
}

/* buttons */
.settings-edit-form__buttons-wrapper {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-edit-form__buttons {
  width: 86%;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 3px;
  height: 25px;
}

.settings-edit-form__button-save {
  background-color: #fa7474;
  color: white;
}

.settings-edit-form__button-cancel {
  background-color: rgb(255, 255, 255);
  border: 1px solid #999;
  color: #666;
}

/* ----right---- */
.settings-edit-form__right-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
}

/* username */
.settings-edit-form__field-username {
  width: 180px;
}

/* errors */
.settings-edit-form__error-icon {
  margin-right: 5px;
}

.settings-edit-form__errors {
  margin: 8px;
  font-size: 14px;
  color: rgb(189, 14, 14);
}

