.settings-edit-form__wrapper {
  position: relative;
  display: flex;
  border: 1px solid #fce7e7;
  border-radius: 10px;
  padding: 20px;
}

.settings-edit-form__left-wrapper {
  width: 36%;
  margin-right: 2%;
}

.settings-edit-form__right-wrapper {
  display: flex;
  flex-direction: column;
  width: 62%;
}

/* errors */
.settings-edit-form__error-icon {
  margin-right: 5px;
}

.settings-edit-form__errors {
  margin: 8px;
  font-size: 14px;
  color: rgb(189, 14, 14);
}