.dashboard-session-user__wrapper {
  position: relative;
  height: 130px;
  margin-top: 12px;
  background-color: #fce7e7;
  border-radius: 10px;
}

/* welcome message */
.dashboard-session-user__welcome {
  padding-top: 28px;
  padding-left: 30px;
}

.dsu__welcome-heading {
  font-size: 34px;
  font-weight: 700;
  color: #222;
}

/* avatar */
.dashboard-session-user__avatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
  top: -40px;
  right: 40px;
}

.dsu__avatar{
  border-radius: 50%;
  padding: 10px;
  width: 120px;
}