.user-search-result {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
}

.user-search-result:hover {
  background-color: #fce5dd5f;
  cursor: pointer;
}

/* link */
.user-search-result__user-link {
  display: flex;
  align-items: center;
}

/* avatar */
.user-search-result__avatar {
  width: 60px;
  margin-right: 8px;
  border-radius: 50%;
}


/* text */
.user-search-result__text {
  color: #222;
}

.user-search-result__display-name {
  font-size: 15px;
  font-weight: 700;
}

.user-search-result__username {
  font-size: 13px;
  color: #444;
}

/* ------ button ------ */
/* add */
.user-search-result__add-button {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.user-search-result__add-icon {
  color: #222;
}

.user-search-result__add-icon:hover {
  color: #ff6759;
}

/* pending */
.user-search-result__pending-buttons {
  background-color: #222;
  color: white;
  padding: 3px 8px;
  margin-left: 5px;
  border-radius: 3px;
  font-size: 13px;
  font-family:'Raleway', 'Courier New', Courier, monospace;
  font-weight: 400;
}

.user-search-result__pending-buttons:hover {
  background-color: #ff6759;
  color: white;
}
