.dashboard-info-box__wrapper {
  z-index: 0;
  position: relative;
  margin-top: 30px;
  max-height: calc(100% - 300px);
  background-color: white;
  overflow-y: scroll;
}

/* scrollbar */
.dashboard-info-box__wrapper::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

.dashboard-info-box__wrapper::-webkit-scrollbar-thumb {
  background-color: #fea0a0;
  border-radius: 0px 5px 5px 0px;
}

