.wish__wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 42px;
  width: calc(100% - 84px);
}

/* ---- left ---- */
.wish__left-wrapper {
  width: 56%;
}

.wish__heading {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 10px;
}

.wish__main-heading {
  font-size: 28px;
}

/* button */
.wish__add {
  width: 200px;
  height: 200px;
}

.wish__gifts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* --------- Main right --------- */
.wish__right-wrapper {
  position: fixed;
  right: 0px;
  width: 28vw;
  height: 100%;
  margin-top: 68px;
  margin-right: 105px;
}