.wish__wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 42px;
  width: calc(100% - 84px);
}

/* ---- left ---- */
.wish__left-wrapper {
  width: 56%;
}

/* heading */
.wish__heading {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 34px;
  background-color: #fce7e7;
  border-radius: 10px;
  padding: 10px 15px;
}

/* ---- right ---- */
.wish__right-wrapper {
  position: fixed;
  right: 0px;
  width: 28vw;
  height: 100%;
  margin-top: 68px;
  margin-right: 105px;
}

/* ----buttons---- */
.wish__detail-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  margin-top: 40px;
}

.wish__detail-buttons {
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 28px;
}

.wish__detail-edit {
  background-color: rgb(223, 223, 223);
  color: #444;
}

.wish__detail-make-public {
  background-color: #fd891d;
  color: white;
}

.wish__detail-make-private {
  background-color: #5851da;
  color: white;
}

.wish__detail-delete {
  background-color: rgb(189, 14, 14);
  color: white;
}