.wish {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wish__heading {
  font-size: 48px;
}


/* --------- Main --------- */
.wish__main {
  display: flex;
  width: 100%;
}

/* --------- Main left --------- */
.wish__main--left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.wish__main-heading {
  font-size: 28px;
}

/* button */
.wish__add {
  width: 200px;
  height: 200px;
}

.wish__gifts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* --------- Main right --------- */
.wish__main--right {
  width: 30%;
}