.topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30px;
  padding: 20px 0 20px 30px;
  background-color: white;
  background: linear-gradient(to bottom,#fff 90%,rgba(255,255,255,0));
}

/* ------ left ------ */
.topnav--left {
  display: flex;
  align-items: center;
  height: 100%;
}

/* ------ right ------ */
.topnav--right {
  display: flex;
  align-items: center;
  height: 100%;
}

/* notification */
.topnav__notification-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 22px;
}

.topnav__notification-icon {
  color: #222;
}

.topnav__notification-icon:hover {
  cursor: pointer;
  color: #ff6759;
}

.topnav__notification-indicator-wrapper {
  position: absolute;
  top: 7px;
  right: 3px;
}

.topnav__notification-indicator {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #ff6759;
}

/* user */
.topnav__username {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #222;
  font-weight: 600;
}

.topnav__username:hover {
  color: #ff6759;
}

.topnav__user-avatar {
  width: 35px;
  border-radius: 50%;
  margin-left: 5px;
}
