.dashboard-recent-birthdays__wrapper {
  margin-top: 30px;
  width: 100%;
}

.dashboard-recent-birthdays__main {
  display: flex;
  justify-content: space-between;
}

/* session title */
.dashboard-recent-birthdays__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

/* ---- week ---- */
.dashboard-recent-birthdays__week-wrapper {
  position: relative;
  width: 43%;
  background-color: #fce7e7;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  white-space:nowrap;
}

.week__heading {
  font-weight: 600;
  margin-bottom: 8px;
}

.week__list-wrapper{
  width: 100%;
  display: flex;
  overflow-x: auto; 
  overflow-y: hidden; 
  padding-bottom: 15px;
}

/* scrollbar */
.week__list-wrapper::-webkit-scrollbar {
  background-color: white;
  height: 10px; 
}

.week__list-wrapper::-webkit-scrollbar-thumb {
  background-color: #fea0a0;
}

/* individual */
.week__friend {
  min-width: 50%;
  margin-right: -60px;
}

.week__friend-onhover {
  z-index: 10;
}

.week__friend-avatar {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.week__friend-avatar:hover {
  position: absolute;
  border: 6px solid #fea0a0;
}

.week__friend-details {
  content: ' ';
  position: absolute;
  z-index: 2;
  max-width: 160px;
  max-height: 50px;
  border-radius: 20px;
  /* background-color: #fe993d; */
  background-color: #fea0a0;
  color:white;
  font-size: 16px;
  padding: 12px;
  top: -85px;
  right: -105px;
}

.week__friend-details:before,
.week__friend-details:after {
  content: ' ';
  position: absolute;
  z-index: 2;
	left: 0px;
	bottom: -20px;
	width: 20px;
	height: 20px;
  border-radius: 50%;
  /* background-color: #fe993d; */
  background-color: #fea0a0;
}

.week__friend-details:after {
  width: 10px;
	height: 10px;
  bottom: -25px;
  left: -10px;
  /* background-color: #fe993d; */
  background-color: #fea0a0;
}

.week__friend-birthday {
  font-size: 20px;
}