.settings__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-left: 42px;
  width: calc(100% - 84px);
}

.settings__inner-wrapper {
  width: 56%;
}
 
.settings__heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 34px;
  background-color: #fce7e7;
  border-radius: 10px;
  padding: 18px;
}

/* --------main-------- */
.settings__main-wrapper {
  position: relative;
  display: flex;
  border: 1px solid #fce7e7;
  border-radius: 10px;
  padding: 30px 20px;
}

/* edit button */
.settings__edit-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #444;
  cursor: pointer;
}

/* ----left---- */
.settings__main-left-wrapper {
  width: 38%;
  margin-right: 8%;
}

/* avatar */
.settings__avatar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.settings__avatar {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

/* ----right---- */
.settings__main-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54%;
}