.settings__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-left: 42px;
  width: calc(100% - 84px);
}

.settings__inner-wrapper {
  width: 56%;
}

.settings__heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 34px;
  background-color: #fce7e7;
  border-radius: 10px;
  padding: 18px;
}

/* --------main-------- */
.settings__main-wrapper {
  display: flex;
  border: 1px solid #fce7e7;
  border-radius: 10px;
  padding: 20px;
}

/* ----left---- */
.settings__main-left-wrapper {
  width: 40%;
  margin-right: 2%;
}

/* avatar */
.settings__avatar-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.settings__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----right---- */
.settings__main-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58%;
}