/* containers */
.auth-form {
  display: flex;
  flex-direction: column;
}

/* ---- field ---- */
.auth__field {
  display: flex;
  align-items: flex-end;
  height: 35px;
  padding: 8px;
  border-bottom: 1px solid black;
}

.auth__field--focus {
  height: 45px;
}

/* icon */
.field__icon {
  width: 25px;
}

/* ---- right ---- */
.field--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* label */
.field__label {
  font-size: 10px;
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  line-height: 0.1;
  padding-left: 2px;
  color: rgb(167, 167, 167);
}

/* input */
.field__input {
  border: none;
  background-color: transparent;
  height: 24px;
  transform: translateY(5px);
  font-family:'Raleway', 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 16px;
}

.field__input::placeholder {
  padding: 0;
  font-size: 14px;  
  color: rgb(167, 167, 167);
  font-family:'Raleway', 'Courier New', Courier, monospace;
}

.field__input:focus {
  outline-color: transparent;
}

/* buttons */
.field__buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.field__demo-login,
.field__buttons {
  margin-top: 30px;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #fe993d;
  background-color: #fe9086;
  color: white;
  font-weight: 600;
}
.field__login-button,
.field__demo-login {
  width: 48%;
}