.wish__add-button {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  background-color: #fea0a0;
  width: calc(25% - 10px);
  height: 130px;
  padding: 5px;
  margin-right: 5px;
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  font-size: 60px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}