.view-list__wrapper {
  height: 85vh;
  overflow-y: scroll;
  background-color: #fffafa;
  border-radius: 10px;
}

/* scrollbar */
.view-list__wrapper::-webkit-scrollbar {
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
  width: 10px;
}

.view-list__wrapper::-webkit-scrollbar-thumb {
  background-color: #fea0a0;
  border-radius: 0px 8px 8px 0px;
}

/* title */
.view-list__group-title {
  padding: 2px 10px;
  background-color: #fce7e7;
  font-weight: 500;
}

/* ---- user ---- */
.view-list__user-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 20px;
}

/* avatar */
.view-list__user-avatar {
  width: 30px;
  margin-right: 5px;
}