.sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-top: 42px;
}

/* logo */
.sidenav__logo {
  font-family: 'Pacifico', 'Raleway', 'Courier New', Courier, monospace;
  font-size: 22px;
  margin-bottom: 60px;
  color: #222;
}
.sidenav__logo:hover {
  color: white;
}

/* links */
.sidenav__icons {
  width: 20px;
  margin-right: 5px;
}

.sidenav__links {
  font-family:'Righteous', Courier, monospace;
  /* color: #ff6759;
  color: #222; */
  color: #fcf7f5;
  padding-left: 2px;
  margin-bottom: 18px;
}

.sidenav__links:hover {
  /* color: #ff6759; */
  color: #222;
}

.sidenav__links--active {
  /* color: #ff6759; */
  color: #222;
}


/* logout */
.sidenav__logout-icon {
  margin-right: 5px;
}

.sidenav__logout {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 100px;
  background-color: #FCE5DD;
  text-align: left;
  cursor: pointer;
} 

.sidenav__logout:hover {
   /* color: #4a43e1; */
   color: white;
}
