.sidenav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 100px;
}

/* logo */
.sidenav__logo {
  font-family: 'Pacifico', 'Raleway', 'Courier New', Courier, monospace;
}