@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

/* TODO Add site wide styles */
body {
  box-sizing: border-box;
  font-family:'Raleway', 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: #222;
}

/* Link  */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* List  */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Buttons  */
button {
  border-style: none;
  font-weight: 500;
  font-family:'Righteous', Courier, monospace;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}


/* Form input  */
input,
textarea {
  color: #333;
}

input:focus,
textarea:focus {
  outline-color: rgb(161, 161, 161);
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
  font-weight: 300;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

/* table */
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0px;
    border-color: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}
th, td {
    display: inline;
}

/* ---------------------------- */
.body {
  display: flex;
  height: calc(100vh - 30px);
  padding: 15px 63px 15px 85px; 
  /* padding: 13px 13px 13px 35px;  */
  background-color: #ebb8b8;
  /* background-color: #FCE5DD; */
  color: #222;
  overflow-x: hidden;
}

.main {
  position: relative;
  width: 90%;
  height: calc(100vh - 30px);
  background-color: white;
  border-radius: 10px;
  color: #222;
  overflow-y: scroll;
}