/* containers */
.auth-form {
  display: flex;
  flex-direction: column;
}

.auth__field {
  display: flex;
  align-items: flex-end;
  height: 35px;
  margin-top: 15px;
}

.field--right {
  display: flex;
  flex-direction: column;
}

/* icon */
.field__icon {
  width: 25px;
}

/* label */
.field__label {
  font-size: 12px;
}


/* input */
.field__input {
  height: 24px;
  padding-left: 5px;
}

.field__input::placeholder {
  font-size: 12px;
}

/* buttons */
.field__buttons {
  margin-top: 15px;
}