.search {
  position: relative;
}

.search__submit {
  background-color: transparent;
  border: 2px solid #666;
  padding: 2px 5px;
  border-radius: 5px;
}

.search__input {
  border: none;
  height: 20px;
  width: 180px;
}

.search__input:focus {
  outline: none;
}