/* ----outer wrapper---- */
.wish__detail-wrapper {
  max-height: calc(100% - 165px);
  width: calc(100% + 10px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

/* scrollbar */
.wish__detail-wrapper::-webkit-scrollbar {
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
  width: 10px;
}

.wish__detail-wrapper::-webkit-scrollbar-thumb {
  background-color: #fce7e7;
  border-radius: 0px 8px 8px 0px;
}

/* ----inner wrapper---- */
.wish__detail {
  position: relative;
  box-sizing: border-box;
  padding: 15px 0 30px 0;
}